@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Style pour le titre */
    .display-4 {
        color: blue; /* Couleur du texte */
        margin-top: 100px; /* Marge supérieure */
    }

    /* Style pour le lien */
    .display-4 a {
        color: #007bff; /* Couleur du lien */
        text-decoration: none; /* Pas de soulignement */
    }

    /* Style pour le lien au survol */
    .display-4 a:hover {
        text-decoration: underline; /* Soulignement au survol */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenue sur notre site de gestion de flotte</h1>
    <!-- <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>

