@model Projet_Kolani.Models.Engin

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Engin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnginId" />
            <div class="form-group">
                <label asp-for="Immatriculation" class="control-label"></label>
                <input asp-for="Immatriculation" class="form-control" />
                <span asp-validation-for="Immatriculation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <input asp-for="Categorie" class="form-control" />
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CotationAssurance" class="control-label"></label>
                <input asp-for="CotationAssurance" class="form-control" />
                <span asp-validation-for="CotationAssurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorationEconomat" class="control-label"></label>
                <input asp-for="MajorationEconomat" class="form-control" />
                <span asp-validation-for="MajorationEconomat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProprietaireId" class="control-label"></label>
                <select asp-for="ProprietaireId" class="form-control" asp-items="ViewBag.ProprietaireId"></select>
                <span asp-validation-for="ProprietaireId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
